# .bashrc

# User specific aliases and functions

alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# Source global definitions
if [ -f /etc/bashrc ]; then
  . /etc/bashrc
fi

{% if java_home is defined %}
export JAVA_HOME="{{ java_home }}"
export JDK_HOME="${JAVA_HOME}"
export JRE_HOME="${JDK_HOME}/jre"
{% endif %}

alias ll='ls -la'
alias cls=clear
alias docker-killall='docker ps -a|awk '\''{print $1}'\''|xargs docker rm -f'

alias show-clients='sudo netstat -ntu | awk '\''{print $5}'\'' | cut -d: -f1 | sort | uniq -c | sort -n'

{% if node_name == 'uprodit' or node_name == 'uprodit-legacy' %}
export TOMCAT_VERSION="9.0.37"
export TOMCAT_UI="public"
export TOMCAT_WS="public"
export TOMCAT_JENKINS="volifecycle"
{% endif %}

export CONNECT_TIMEOUT="60000"
export READ_TIMEOUT="960000"
export CUSTOM_JVM_OPTS="-Dsun.net.client.defaultConnectTimeout=${CONNECT_TIMEOUT} -Dsun.net.client.defaultReadTimeout=${READ_TIMEOUT}"
export JAVA_OPTS="${JAVA_OPTS} ${CUSTOM_JVM_OPTS}"
export JVM_OPTS="${JVM_OPTS} ${CUSTOM_JVM_OPTS}"
export PATH="${PATH}:/usr/local/bin"

{% if node_name == 'uprodit' or node_name == 'uprodit-legacy' %}
alias ui_start=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/bin/startup.sh
alias ui_stop=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/bin/shutdown.sh
alias ui_tailf="tail -F /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/logs/catalina.out"
alias ui_1000="tail -1000 /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/logs/catalina.out"
alias ui_vi="vi /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/logs/catalina.out"
alias ui_clear="echo '' > /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_UI}/logs/catalina.out"

alias ws_start=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/bin/startup.sh
alias ws_stop=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/bin/shutdown.sh
alias ws_tailf="tail -F /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/logs/catalina.out"
alias ws_1000="tail -1000 /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/logs/catalina.out"
alias ws_vi="vi /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/logs/catalina.out"
alias ws_clear="echo '' > /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_WS}/logs/catalina.out"

alias jenkins_start=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/bin/startup.sh
alias jenkins_stop=/usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/bin/shutdown.sh
alias jenkins_tailf="tail -F /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/logs/catalina.out"
alias jenkins_1000="tail -1000 /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/logs/catalina.out"
alias jenkins_vi="vi /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/logs/catalina.out"
alias jenkins_clear="echo '' > /usr/local/apache-tomcat-${TOMCAT_VERSION}-${TOMCAT_JENKINS}/logs/catalina.out"
{% endif %}

{% if node_name == 'gw' %}
alias varnish-start='varnishd -f /etc/varnish/default.vcl'
alias varnish-stop="ps -ef|grep -i varnish|awk '{print \$2}'|xargs kill -9 || :"
{% endif %}

{% if node_name == 'uprodit' or node_name == 'uprodit-legacy' %}
alias se_tailf="tail -F /BACK_PRODIT/prodit-se.log"
alias se_1000="tail -1000 /BACK_PRODIT/prodit-se.log"
alias se_stop="ps -ef|grep prodit-se|awk '{print \$2}'|xargs kill -9"
alias se_start="cd /BACK_PRODIT; ./install.sh -s; cd -"
{% endif %}

CYAN="\033[1;36m"
YELLOW="\033[1;33m"
GREEN="\033[1;32m"
PURPLE="\033[1;35m"
WHITE="\033[1;37m"
RESET="\033[0;37m"

function ggit () {
  if [[ -d .git ]]; then
    git $@ 2> /dev/null
  else
    echo ""
  fi
}

function parse_git_dirty () {
 [[ $(ggit status | tail -n1) != "nothing to commit (working directory clean)" ]] && echo " *"
}

function parse_git_branch () {
 ggit branch --no-color | sed -e '/^[^*]/d' -e "s/^* \(.*\)/\1$(parse_git_dirty)/"
}

export PS1="\[${YELLOW}\]\u\[$WHITE\]@\[$CYAN\]\h\[$WHITE\]\$([[ -n \$(ggit branch) ]] && echo \" on \")\[$PURPLE\]\$(parse_git_branch) \[$GREEN\]\w\[$WHITE\] $(ggit describe)$ "
