#!/usr/bin/env bash

log_file=$(date +"log-%d-%m-%Y.log" -d yesterday)

echo "Backing up ${log_file} into {{ s3_backup_bucket_name }}"
{{ mc_bin }} cp {{ logs_directory }}/${log_file} {{ s3_alias }}/{{ s3_backup_bucket_name }}/logs/${log_file}
message="Finish backing up ${log_file} into {{ s3_backup_bucket_name }}"
echo "${message}"
{{ node_home }}/slack_notification.sh "${message}"
echo "Removing ${log_file} from server"
rm -f {{ logs_directory }}/${log_file}
